.ErrorPage {
  width: 100%;
  height: 100vh;
  background-image: url("../Assets/deepSea.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.errorMsg {
  min-width: 90vw;
  text-align: center;
}
.big {
  font-size: 1000%;
}
